<!DOCTYPE html>
<html lang="en">


<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/headerAdmi.ejs") %>
            <main>
                <section class="formulario-editar">
                    <form action="/edit/<%= idProduct %>/storage?_method=PUT" method="POST"
                        enctype="multipart/form-data">

                        <p>
                            <label for="newName" class="colocar_nombre">Nombre Destino
                            </label>
                            <input type="text" name="newName" id="newName" required="obligatorio"
                                value="<%= product.name %>" placeholder="">
                        </p>
                        <p>
                            <label for="newDate">Nueva Fecha de Salida</label>
                            <input type="date" id="newDate" name="newDate"
                                value="<%= product.date ? product.date : ''; %>">
                        </p>
                        <p>
                            <label for="insure">Seguro COVID-19</label>
                            <input type="checkbox" id="insure" name="insure" <%=product.insure ? 'checked' : '' ; %>>
                        </p>
                        <p>
                            <label for="guide">Coordinador Permanente</label>
                            <input type="checkbox" name="guide" id="guide" <%=product.guide ? 'checked' : '' ; %>>
                        </p>
                        <p>
                            <label for="newExtras" class="colocar_nombre">Excursiones Incluidas
                            </label>
                            <input type="text" name="newExtras" id="newExtras" required="obligatorio"
                                value="<%= product.extras ? product.extras : '' %>">
                        </p>
                        <p>
                            <label>Imagen actual</label>
                            <img width="30%" src="/img/<%= product.img %>" alt="foto"><br>
                            <label for="newImg">Nueva Imagen producto</label>
                            <input type="file" id="newImg" accept="jpg" name="img" value="/img/<%=product.img %>">
                        </p>
                        <p>
                            <label for="category">Categoria</label>
                            <select name="category" id="category">
                                <option value="Internacional" <%=product.category=="Internacional" ? 'selected' : '' ;
                                    %>>Internacional</option>
                                <option value="Nacional" <%=product.category=="Nacional" ? 'selected' : '' ; %>>Nacional
                                </option>
                            </select>
                        </p>
                        <p>
                            <label for="status">Tipo de anuncio</label>
                            <select name="status" id="status">
                                <option value="destacado" <%=product.status=="destacado" ? 'selected' : '' ; %>
                                    >Destacado</option>
                                <option value="oferta" <%=product.status=="oferta" ? 'selected' : '' ; %>
                                    >Oferta</option>
                            </select>
                        </p>
                        <p>
                            <label for="group">Salida</label>
                            <select name="group" id="group">
                                <option value="2" <%=product.group=="grupo" ? 'selected' : '' ; %>
                                    >Grupal</option>
                                <option value="1" <%=product.group=="individual" ? 'selected' : '' ; %>
                                    >Individual</option>
                            </select>
                        </p>
                        <p>
                            <label for="meals">Regimen Comidas</label>
                            <select id="meals" name="meals">
                                <option value="1" <%=product.meals=="all" ? 'selected' : '' ; %>>All
                                    inclusive</option>
                                <option value="2" <%=product.meals=="media" ? 'selected' : '' ; %>>Media
                                    Pensión</option>
                            </select>
                        </p>
                        <p>
                            <label for="transport">Traslado</label>
                            <select name="transport" id="transport">
                                <option value="bus" <%=product.transport=="bus" ? 'selected' : '' ; %>>Bus
                                </option>
                                <option value="avion" <%=product.transport=="avion" ? 'selected' : '' ; %>
                                    >Avión</option>
                            </select>
                        </p>
                        <p>
                            <label for="newDetail" class="colocarmensaje">Descripción
                                <span class="obligatorio">*</span>
                            </label>
                            <textarea class="textomensaje" id="newDetail" required="obligatorio"
                                name="newDetail"><%= product.detail ? product.detail : '' %></textarea>
                        </p>
                        <p>
                            <label for="newPrice">Precio</label>
                            <input type="text" id="newPrice" name="newPrice" value="<%= product.price %>"
                                placeholder="$60.000">
                        </p>

                        <button type="submit" name="enviarformulario" id="enviar1">
                            <p class="enviar3">Subir</p>
                        </button>

                    </form>
                    </div>
                    </div>

            </main>

    </body>