<!DOCTYPE html>
<html lang="en">


<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/headerAdmi.ejs") %>
            <main>
                <section class="formulario-editar">
                    <form action="/userEdit/<%= userId %>/storage?_method=PUT" method="POST"
                        enctype="multipart/form-data">

                        <p>
                            <label for="firstName" class="colocar_nombre">Primer nombre
                            </label>
                            <input type="text" name="firstName" id="firstName" required="obligatorio"
                                value="<%= user.first_name %>" placeholder="">
                        </p>
                        <p>
                            <label for="lastName" class="colocar_nombre">Apellido
                            </label>
                            <input type="text" name="lastName" id="lastName" required="obligatorio"
                                value="<%= user.last_name ? user.last_name : '' %>">
                        </p>
                        <p>
                            <label for="email" class="colocar_nombre">Email
                            </label>
                            <input type="email" name="email" id="email" required="obligatorio"
                                value="<%= user.email ? user.email : '' %>">
                        </p>
                        <p>
                            <label for="user" class="colocar_nombre">Usuario
                            </label>
                            <input type="text" name="user" id="user" required="obligatorio"
                                value="<%= user.user ? user.user : '' %>">
                        </p>
                        <p>
                            <label>Imagen actual</label>
                            <img width="40%" src="/img/<%= user.img %>" alt="foto"><br>
                            <label for="img">Nueva Imagen de Usuario</label>
                            <input type="file" id="img" accept="jpg" name="img">
                        </p>

                        
                        <p>
                            <label for="category">Es administrador?</label>
                            <select name="category" id="category">
                                <option value="1" <%=user.user_category_id=="1" ? 'selected' : '' ; %>>Usuario</option>
                                <option value="2" <%=user.user_category_id=="2" ? 'selected' : '' ; %>>Administrador
                                </option>
                            </select>
                        </p>
                        <p>
                            <label for="newPrice">Numero de telefono</label>
                            <input type="number" id="phoneNumber" name="phoneNumber" value="<%= user.phone_number %>">
                        </p>

                        <button type="submit" name="enviarformulario" id="enviar1">
                            <p class="enviar3">Subir</p>
                        </button>

                    </form>
                    </div>
                    </div>

            </main>

    </body>