<!DOCTYPE html>
<html lang="en">


<%- include("../partials/headProduct.ejs") %>

    <body>
        <%- include("../partials/headerAdmi.ejs") %>
            <main>
                <section class="formulario-editar">
                    <form action="/userEdit/<%= userId %>/storage?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <% let userSelected=users.find(user=> user.id == userId) %>
                            <p>
                                <label for="firstName" class="colocar_nombre">Primer nombre
                                </label>
                                <input type="text" name="firstName" id="firstName" required="obligatorio"
                                    value="<%= userSelected.firstName %>" placeholder="">
                            </p>
                            <p>
                                <label for="lastName" class="colocar_nombre">Apellido
                                </label>
                                <input type="text" name="lastName" id="lastName" required="obligatorio"
                                    value="<%= userSelected.lastName ? userSelected.lastName : '' %>">
                            </p>
                            <p>
                                <label for="email" class="colocar_nombre">Email
                                </label>
                                <input type="email" name="email" id="email" required="obligatorio"
                                    value="<%= userSelected.email ? userSelected.email : '' %>">
                            </p>
                            <p>
                                <label for="user" class="colocar_nombre">Usuario
                                </label>
                                <input type="text" name="user" id="user" required="obligatorio"
                                    value="<%= userSelected.user ? userSelected.user : '' %>">
                            </p>
                            <p>
                                <label>Imagen actual</label>
                                <img width="40%" src="/img/<%= userSelected.img %>" alt="foto"><br>
                                <label for="newImg">Nueva Imagen de Usuario</label>
                                <input type="file" id="newImg" accep="jpg" name="img">
                            </p>
                            <p>
                                <label for="category">Es administrador?</label>
                                <select name="category" id="category">
                                    <option value="user" <%=userSelected.category=="user" ? 'selected' : '' ; %>>Usuario
                                    </option>
                                    <option value="Administrador">Administrador</option>
                                </select>
                            </p>
                            <p>
                                <label for="newPrice">Numero de telefono</label>
                                <input type="number" id="phoneNumber" name="phoneNumber"
                                    value="<%= userSelected.phoneNumber %>">
                            </p>

                            <button type="submit" name="enviarformulario" id="enviar1">
                                <p class="enviar3">Subir</p>
                            </button>

                    </form>
                    </div>
                    </div>

            </main>

    </body>