<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <section class="buscador">
                <div class="contenedor-buscador">
                    <input class="input-buscador" type="text" value="Busca tu destino">
                </div>
                <div class="header-contenedor-bars">
                    <i class="fas fa-bars header-bars"></i>
                </div>
                <img class="imgpbanner" src="img/PANO_20190401_155549.jpg" alt="">
            </section>


            <main class="main-home">
                <h1 class="main-home-titulo">Destacado</h1>

                <section class="main-home-section">
                    <% let destacados=products.filter( product=> product.status == 'destacado') %>
                        <% destacados.forEach(product=> { %>


                            <article class="article">
                                <div class="article-card-top">
                                    <img class="article-img" src="/img/<%= product.img %>"  alt="">
                                </div>
                                <div class="article-card-body">
                                    <h1 class="article-titulo">
                                        <%= product.name %>
                                    </h1>
                                    <p class="article-parrafo">
                                        <%= product.detail %>
                                    </p>
                                    <p class="article-precio">$<%=product.price %>
                                    </p>
                                    <div class="contenedor-btn">
                                        <a href="/product/detalle/<%=product.id %> "> <button
                                                class="article-btn">Comprar</button> </a>
                                    </div>
                                </div>
                            </article>

                            <% }) %>


                </section>

            </main>

            <section class="nosotros">
                <div>
                    <h1 class="nosotros-titulo">Sobre Nosotros</h1>

                    <div class="nosotros-contenedor">
                        <i class="far fa-check-square"></i>
                        <p class="nosotros-parrafo"> Ofrecemos en nuestros paquetes turísticos el alojamiento para los
                            viajeros. Dentro de este servicio podemos encontrar hoteles, posadas, albergues y casas
                            compartidas.</p>
                    </div>
                    <div class="nosotros-contenedor">
                        <i class="far fa-check-square"></i>
                        <p class="nosotros-parrafo">Solemos programar los traslados hacia el aeropuerto o desde las
                            terminales hacia el hotel. Además del pasaje aéreo las agencias de viajes estamos
                            capacitados para conseguir otros medios de transporte ya sea marítimo, ferroviario o
                            terrestre.</p>
                    </div>
                    <div class="nosotros-contenedor">
                        <i class="far fa-check-square nosotros-contenedor-icono"></i>
                        <p class="nosotros-parrafo">Muchas veces el turista no está del todo familiarizado con el
                            destino que visita, por lo tanto se vuelve imprescindible contar con información referente a
                            los traslados dentro de él. Es por esto que incluimos los traslados dentro de la ciudad como
                            por ejemplo entre el hotel y el aeropuerto.</p>
                    </div>

                    <div class="nosotros-contenedor-btn">
                        <button class="nosotros-btn">Conocer más</button>
                    </div>
                </div>

                <!--   <div class="nosotros-contenedor-img">
            <img class="nosotros-img" src="https://static.vecteezy.com/system/resources/previews/007/383/159/non_2x/colorful-sunset-on-the-tropical-island-beautiful-ocean-beach-with-palms-illustration-cartoon-flat-panoramic-landscape-sunset-with-the-palms-on-colorful-background-free-vector.jpg" alt="">
        </div> -->
            </section>
            <section class="marcas">
                <h2 class="marcaswork">Marcas con las que trabajamos</h2>
                <div class="infomarcas">
                    <div class="infomarcas-img">
                        <img class="marcas-img" src="img/marcas1.png" alt="">
                        <img class="marcas-img" src="img/marcas2.png" alt="">
                        <img class="marcas-img" src="img/marcas3.png" alt="">
                    </div>
                </div>
            </section>

            <div class="contenedor-whatsapp">
                <a href=""><i class="fab fa-whatsapp whatsapp"></i></a></i>
            </div>


            <%- include("../partials/footer.ejs")%>

                <script type="text/javascript">
                    function redirect() {

                        window.location.href = "/product/detalle";
                    }
                </script>
    </body>

</html>