<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <section class="buscador">
                <div class="contenedor-buscador">
                    <input class="input-buscador" type="text" value="Busca tu destino">
                </div>
                <div class="header-contenedor-bars">
                    <i class="fas fa-bars header-bars"></i>
                </div>
                <!-- <img class="imgpbanner" src="img/banner2.png" alt=""> -->
            </section>

            <main class="main-perfil">
                <div class="main-perfil-contenedor">

                    <h1 class="main-perfil-title">Bienvenido <%= user.user %>
                    </h1>

                    <img src="/imgUsers/<%= user.img %> " alt="avatar">

                    <h2>
                        <%= user.email %>
                    </h2>

                    <form action="/logout" method="GET">
                        <button id="edit3" type="submit">Cerrar Sesion</button>
                        
                    </form>
                     <!--<form action="/perfilEdit/<%= user.id %>" method="GET">
                        <button id="edit3" type="submit">Editar
                            <i class="fas fa-edit"></i>
                        </button> 
                    </form> -->
                    <div class="buttonIn">
                    
                        <a href="/perfilEdit/<%= user.id %>"><button>Editar <i
                                    class="fas fa-edit"></i></button></a>

                    </div>

                    <section class="main-perfil-section">

                    </section>
                </div>


            </main>

            <!-- <section class="nosotros">
        <div>
            <h1 class="nosotros-titulo">Titulo</h1>
            <p class="nosotros-parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cumque corporis qui, rem officia quo dolore nulla quae, doloremque explicabo eius deserunt
                autem eligendi fugit officiis. Unde doloribus alias sed repellendus!</p>
            <div class="nosotros-contenedor-btn">
                <button class="nosotros-btn">Conocer más</button>
            </div>
        </div>

        <div class="nosotros-contenedor-img">
            <img class="nosotros-img"
                src="https://www.xplora.eu/wp-content/uploads/como-escribir-web-sobre-nosotros.jpg" alt="">
        </div>
    </section>
 -->


            <%- include("../partials/footer.ejs")%>
    </body>

</html>