<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <%- include("../partials/search.ejs") %>
                <main class="main-home">
                    <h2 class="Category">Resultado de "<%= search %>"</h2>

                    <section class="main-home-section">

                        
                            <% destinos.forEach( product=> { %>
                                <article class="article">
                                    <div class="article-card-top">
                                        <img class="article-img" src="/img/<%= product.img %>" alt="">
                                    </div>
                                    <div class="article-card-body">
                                        <h1 class="article-titulo">
                                            <%= product.name %>
                                        </h1>
                                        <p class="article-parrafo">
                                            <%= product.detail %>
                                        </p>
                                        <p class="article-precio">
                                            <%=product.price %>
                                        </p>
                                        <div class="contenedor-btn">
                                            <a href="/product/detalle/<%=product.id %> "> <button
                                                    class="article-btn">Comprar</button> </a>
                                        </div>
                                    </div>
                                </article>
                                <% }) %>
                    </section>


                </main>
                <%- include("../partials/footer.ejs")%>
    </body>

</html>